body {    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.email-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #0073e6;
    /* Marco azul elegante */
    padding: 10px;
}

.header {
    text-align: center;
    padding: 20px;
}

#company-logo {
    width: auto;
    max-width: 200px; /* Ajusta el tamaño máximo según necesites */
    height: auto;
    max-height: 200px; /* Evita que sea demasiado alto */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.content {
    padding: 20px;
    text-align: justify;
    color: #333; /* En vez de #666 para mejor contraste */
    line-height: 1.5; /* En vez de 1.5 para más aire */
    
}

h2 {
    color: #222; /* En vez de #333 para más fuerza */
    text-align: center;
}

.highlight {
    color: #0073e6;
}

.brand {
    font-weight: bold;
    font-size: 18px;
    color: #0073e6;
}

.bold {
    font-weight: bold;
}

.button-container {
    text-align: center;
    padding: 20px;
}

.button {
    background-color: #0aa849; /* Verde corporativo */
    color: #ffffff; /* Texto en blanco */
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: #088f3a; /* Verde más oscuro al pasar el mouse */
}



.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #888;
}

.email-link {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}
/*      */
.socials {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
}

.socials p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.socials a {
    display: inline-block;
    margin: 5px;
}

.socials img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.socials img:hover {
    transform: scale(1.1);
}
.whatsapp-button {
    display: inline-block;
    background-color: green;
    color: blue !important;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    user-select: all; /* 🔹 Ahora se podrá seleccionar el texto del botón */
}

.whatsapp-button:hover {
    background-color: #088f3a;
}
