@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.email-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #2596BE; /* Azul corporativo corregido */
    padding: 10px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color:#0aa849 ; /* Azul corporativo corregido */
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

#company-logo {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.content {
    padding: 20px;
    text-align: justify;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

h2 {
    color: #222;
    text-align: center;
}

.highlight {
    color: #2596BE; /* Azul corporativo corregido */
    font-weight: bold;
}

.brand {
    font-weight: bold;
    font-size: 18px;
    color: #2596BE; /* Azul corporativo corregido */
}

.bold {
    font-weight: bold;
}

.button-container {
    text-align: center;
    padding: 20px;
}

.button {
    background-color: #0aa849; /* Verde corporativo */
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: #088f3a; /* Verde oscuro para hover */
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #666;
    background-color: #eeeeee;
    border-radius: 0 0 8px 8px;
}

.email-link {
    color: #2596BE; /* Azul corporativo corregido */
    text-decoration: none;
    font-weight: bold;
}

.socials {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
}

.socials p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.socials a {
    display: inline-block;
    margin: 5px;
}

.socials img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.socials img:hover {
    transform: scale(1.1);
}
